:root {
    --text-color: #0a0a0a;
}

* {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}
/*header area*/
header {
    padding: 5px;
    margin: auto;
    width: 100%;
    position: fixed;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    z-index: 1;
}

#title-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0px;
}
h1 {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 0;
    align-self: center;
    font-size: 2rem;
    transition: font-size 0.5s ease;
}
#title-area > span {
    align-self: flex-end;
    font-size: 0.8rem;
    font-weight: lighter;
}
@media (min-width: 625px) {
    #title-area {
    }
    h1 {
        font-size: 2.5rem;
    }
    #title-area > span {
    }
}
/*nav bar area*/
@keyframes fd-animation {/*flex-direction custom animations*/
    0% {
        opacity: 0;
        flex-direction: column;
    }
    40% {
        opacity: 0;
        visibility: visible; 
        flex-direction: row;
        justify-content: flex-end;
    }
    100% {
        opacity: 1;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: initial;
        width: 100%;
    }
}
@keyframes fd-animation-reverse {
    0% {
        opacity: 0;
        flex-direction: row;
    }
    40% {
        opacity: 0;
        visibility: visible; 
        flex-direction: column;
        justify-content: space-between;
    }
    100% {
        opacity: 1;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: unset;
        width: fit-content;
    }
}

nav {
    display: flex;
    flex: 1;
    padding: 10px 0px;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    text-align: center;
    flex: 1;
    transition: all 0.8s ease;
}
@media (min-width: 560px) {
    nav {
        display: inline-flex;
    }
    nav ul {
        animation: fd-animation 1s linear 0s forwards;
    }
}
@media (max-width: 560px) {
    nav ul {
        animation: fd-animation-reverse 1s linear 0s forwards;
    }
}

.nav-link {
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav-link:hover {
    color: brown;
}

/*main area*/
main {
    padding-top: 7rem;
}