:root {
    --text-color: #003e00;
    --header-bg-color: #eeeeee;
}

* {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
/*---header area---*/
header {
    padding: 5px;
    margin: auto;
    width: 100%;
    position: fixed;
    background-color: var(--header-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
}
/*title area*/
#title-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0px;
}
h1 {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 0;
    align-self: center;
    font-size: 2rem;
    transition: font-size 0.5s ease;
}
#title-area > span {
    color: var(--text-color);
    align-self: flex-end;
    font-size: 0.8rem;
    font-weight: lighter;
}
@media (min-width: 625px) {
    #title-area {
    }
    h1 {
        font-size: 2.5rem;
    }
    #title-area > span {
    }
}
/*nav bar area*/
@keyframes fd-animation {/*flex-direction custom animations*/
    0% {
        opacity: 0;
        flex-direction: column;
    }
    40% {
        opacity: 0;
        visibility: visible; 
        flex-direction: row;
        justify-content: flex-end;
    }
    100% {
        opacity: 1;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
}
@keyframes fd-animation-reverse {
    0% {
        opacity: 0;
        flex-direction: row;
    }
    40% {
        opacity: 0;
        visibility: visible; 
        flex-direction: column;
        justify-content: space-between;
    }
    100% {
        opacity: 1;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: unset;
        width: fit-content;
    }
}

nav {
    display: flex;
    flex: 1;
    max-width: 500px;
    padding: 10px 0px;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    text-align: center;
    flex: 1;
    transition: all 0.8s ease;
}
@media (min-width: 560px) {
    nav {
        display: inline-flex;
    }
    nav ul {
        animation: fd-animation 1s linear 0s forwards;
    }
    nav ul li {
        font-size: 1.2rem;
    }
}
@media (max-width: 560px) {
    nav ul {
        animation: fd-animation-reverse 1s linear 0s forwards;
    }
}

.nav-link {
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
}

.nav-link:hover {
    color: brown;
    font-weight: 500;
}

/*---main area---*/
main {
    padding-top: 7rem;
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;  
    font-size: 1.3rem;
}
/*email submit form area*/
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

#email {
    width: 100%;
    padding: 0;
    max-width: 196px;
    text-align: center;
    margin: 5px auto;
}

input {
    font-family: inherit;
    font-size: inherit;
}

.button {
    text-transform: uppercase;
    width: 200px;
    background-color: #055c05;
    color: #efefef;
    padding: 2px;
    border: 0px;
    box-shadow: 2 gray inset;
    transition: all 0.5s ease;
    font-family: inherit;
    font-size: inherit;
}
.button:hover {
    background-color: var(--text-color);
}

/*advantages area*/
#advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 560px;
    width: 100%;
    padding: 50px 10px;
    padding-top: 100px;
    margin: auto;
}

.advantage-element {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    text-align: center;
    padding: 20px 0px;
}
.icon {
    max-height: 80px;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding-right: 10px;
}
.description > span > strong {
    font-size: 1.5rem;
}


/*responsive video area*/
#how-to-use {
    padding: 50px 0px;
    text-align: center;
    padding-top: 100px;
}
.outer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.video-area {
    height: 0;
    margin: auto;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    display: block;
    overflow: hidden;
}

#video {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*price options area*/
#price-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0px;
    padding-top: 100px;
}

.price-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border: 1px solid var(--text-color);
    font-size: 1.1rem;
    padding-top: 0px;
}

.package-head {
    padding: 0;
    margin: 0;
    background-color: var(--header-bg-color);
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.price {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.buy-butt-area {
    text-align: center;
    padding-bottom: 1rem;
}

.buy-button {
    width: 60%;
}

.note {
    font-size: 1rem;
    font-style: oblique;
    text-align: center;
    padding: 0 10px;
}

/*footer area*/
#footer {
    padding: 20px;
    background-color: var(--header-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-nav > a {
    font-weight: 550;
    padding-right: 20px;
}

.footer-link {
    font-size: 0.8rem;
    padding: 10px 0;
    padding-right: 20px;
}

.footer-copy {
    padding-right: 20px;
}